body {
    margin: 30px;
    font-family: "Georgia", serif;
    line-height: 1.8em;
    color: #333;
  }
  
  
  h1, h2, h3, h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  
  #content {
    margin: 0px 70px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  
  .test3 {
   width: auto;
   padding: 10px;
   background-color: #242424;
   border-radius: 20px;
   color:white;
 }

 #show_score{
    float:right;
    padding-right: 40px;
 }

 #title{
     float: left;
     padding-left: 40px;
 }
 
  
  #container{
    width: auto;  
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 30px;
    background:  #f1f1f1;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  }
  .wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
  }
  
  .wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
  }
  
  
  #cardSlots {
    margin: 20px auto 0 auto;
    background-image: linear-gradient(to right, #816bf4 0%, #bcb4e2 51%, #d9d4f0 100%);
 
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  }
  
  
  #cardPile {
    margin: 0 auto;
    
  }
  
  #cardSlots, #cardPile {
    width: 750px;
    height: 120px;
    padding: 20px;
    
  }
  
 
  
  #cardSlots div, #cardPile div {
    float: left;
    width: 70px;
    height: 30px;
    padding: 5px;
    padding-top: 30px;
    text-align: center;
vertical-align: middle;
line-height: 15px;
    padding-bottom: 10px;
   border:2px solid #816bf4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 0 0 9px;
    background: #fff;
  }
  

  #cardSlots div:first-child, #cardPile div:first-child {
    margin-left: 0;
  }

  #cardPile div:hover{
    width: 75px;
    height: 45px;
    background: #aaa;
  }
  
  #cardSlots div.hovered {
    background: #aaa;
  }
  
  #cardSlots div {
    border-style: dashed;
    color: #000;
  }
  
  #cardPile div {
    background: #816bf4;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 3px #000;
  }
  
  #cardPile div.ui-draggable-dragging {
      border-color: #000;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  }
  

  
  #card1.correct { background: #816bf4; }
  #card2.correct { background: #816bf4; }
  #card3.correct { background: #816bf4; }
  #card4.correct { background: #816bf4; }
  #card5.correct { background: #816bf4; }
  #card6.correct { background: #816bf4; }
  #card7.correct { background: #816bf4; }
  #card8.correct { background: #816bf4; }
  #card9.correct { background: #816bf4; }
  #card10.correct { background: #816bf4; }
  
  
  #successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    font-size: 30px;
    z-index: 100;
    background: #f1f1f1;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
  }

  button {   
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
    cursor: pointer;
    font-family: "Quicksand Medium", sans-serif;
    width: 150px;
    border-radius: 20px;
    background-color: #816bf4;
  }

  button:hover{
    background-color: #242424;
    color: #f1f1f1;
  }
  @media screen and (max-width: 1200px) {
    #cardSlots, #cardPile {
        width: auto;
      height: 200px;
    }
  }
  @media screen and (max-width: 800px) {
    #cardSlots, #cardPile {
        width: auto;
      height: 400px;
    }
  }
